* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  background-color: #b7c4cf13;
  height: 100vh;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

#scrollmenu::-webkit-scrollbar {
  display: none;
}


.icon {
  opacity: 40%;
  font-size: 30px;
}
.icon:hover {
  opacity: 100%;
}
